<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="http://www.clker.com/cliparts/I/n/S/M/8/z/cocktail-hi.png">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><%= link_to 'All of my cocktails', cocktails_path, class: "btn btn-success"%></a>
      </li>
    </ul>
  </div>
</div>


<div class="recipe">
  <div class = "row ">
   <div class="col-sm-12 col-md-6 col-lg-6">
    <div class= "card">
    <h2 class="header">My <%= @cocktail.name %></h2>

       <p><%= '60ml of Gin' %></p>
      <% @cocktail.doses.each do |dose| %>
      <p><%= dose.ingredient.name %> <%= dose.description %>
      <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
    <i class="far fa-trash-alt"></i>
    <% end %>
    </p>

      <% end %>
    <%= link_to "Add More", new_cocktail_dose_path(@cocktail) %>

    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="card">
    <img class ="img-new-event" src= <%= @cocktail.photo %>>
  </div>
  </div>
</div>
</div>



